<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            
            <h3>GALLERY</h3>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Location <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'location' 'U.S.A' %}">U.S.A</a></li>
                            <li><a href="{% url 'location' 'England' %}">England</a></li>
                            <li><a href="{% url 'location' 'South Africa' %}">South Africa</a></li>
                            <li><a href="{% url 'location' 'Germany'%}">Germany</a></li>
                        </ul>
                    </li>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'category' 'Sports' %}">Sports</a></li>
                                <li><a href="{% url 'category' 'Food' %}">Food</a></li>
                                <li><a href="{% url 'category' 'Technology' %}">Technology</a></li>
                               
                            </ul>
                        </li>
                    </ul>
                </ul>
                <form class="navbar-form navbar-left" role="search" action="{% url 'search_image' %}">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search By Category" name='image'>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</body>

</html>